.parcel-cache
node_modules
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/vanjacloud.web.iml
/.idea/vcs.xml
**/*.js.map
**/*.map.js
dist/index.9449556e.js.map
dist/index.9449556e.js.map
dist
dist/*
.DS_Store
